# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
/Release/1_4_0/HAPExplorer/obj/Debug
/Release/1_4_0/HAPExplorer/obj/Release
/Release/1_4_0/Html2Rss/obj/Debug
/Release/1_4_0/Html2Txt/obj/Debug
/Release/1_4_0/GetDocLinks/obj/Debug
/Release/1_4_0/Html2Xml/obj/Debug
/Release/1_4_0/HtmlAgilityPack/obj/Debug
